<h2> Dine bidrag </h2>
<table width="90%">

<% for proposal in @proposals %>
<tr>
	<td>
		<%= link_to "Bidrag ##{h proposal.display_id} fra #{h proposal.owner.email}", proposal_path(proposal) %>
	</td>
	<td align="right"><%=l proposal.created_at,:format => 'short' %></td>
</tr>
<tr>
	<td colspan="2">
		Behov: <%= truncate proposal.customer_requirement, 40 %> <br/>
	</td>
</tr>
<tr>
	<td colspan="2">
		Løsning: <%= truncate proposal.suggested_solution, 40 %>
	</td>
</tr>	

<tr>
	<td>Antall kommentarer: <%=proposal.comments.size%> </td>		
	<td align="right" colspan="2">

		<% if user_can_edit_proposal(current_user,proposal) %>									
		<%= link_to 'Endre', edit_proposal_path(proposal) %>
		<%end%>

		<% if user_can_destroy_proposal(current_user,proposal) %>									
		<%= link_to 'Slett', proposal, :confirm => 'Er du sikker på at du skal slette dette bidraget ?', :method => :delete %>
		<% end %>


	</td>
</tr>

<tr>
	<td colspan="2">
		<hr/>
	</td>
</tr>


<% end %>

<tr>
	<td colspan="2" align="center"><%= will_paginate @proposals %></td>
</tr>

</table>
