
	<% if current_user %>


		<p><%= link_to "Alle bidrag", proposals_url %></p>
		<p><%= link_to 'Dine bidrag', your_proposals_url %></p>
		<p><%= link_to 'Dine kommentarer', your_comments_url %></p>
		


		<p><%= link_to 'Logout', logout_url %></p>		
		<p>Applikasjonen vil huske deg selv om du lukker dette vinduet. Dersom deler denne maskinen med andre så vennligst klikk logout når du er ferdig.</p>
		
		
		
		<% if current_user.admin? %>
		<p> Du er logget inn med administratorrettigheter. Velg selskap du ønsker å administrere:
		<br/>
		<br/>
			<% for company in Company.find(:all) %>
				<%=link_to "#{company.name}", set_company_path(company.id)%><br/>
			<%end%>
		<%end%>
		
					
	<% end %>