

<table width="90%">

<% form_for(@proposal) do |f| %>
	<%= f.error_messages %>
	<tr>
		<td>Kundens behov </td>
	</tr>
	<tr>
		<td><%= f.text_area :customer_requirement,:cols=>60,:rows=>4 %></td>
	</tr>

	<tr>
		<td>Din løsning</td>
	</tr>
	<tr>

		<td><%= f.text_area :suggested_solution,:cols=>60,:rows=>4 %></td>
	</tr>

	<tr>
		<td align="right">
			<%= f.submit "Send" %>
		</td>
	</tr>
	<% end %>
</table>

<br/>
<br/>

<h2> Nye bidrag </h2>


<table width="95%">


	<% for proposal in @proposals %>
	<tr>
		<td>
			<%= link_to "Bidrag ##{h proposal.display_id} fra #{h proposal.owner.email}", proposal_path(proposal) %>
		</td>
		<td align="right"><%=l proposal.created_at,:format => 'short' %></td>
	</tr>
	<tr>
		<td colspan="2">
			Behov: <%= truncate proposal.customer_requirement, :length=>40 %> <br/>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			Løsning: <%= truncate proposal.suggested_solution, :length=>40 %>
		</td>
	</tr>	

	<tr>
		<td>Antall kommentarer: <%=proposal.comments.size%> </td>		
		<td align="right" colspan="2">
			<!-- <% if user_can_be_shown_proposal(current_user,proposal) %>										
						<%= link_to 'Vis', proposal_path(proposal) %>
						<%end%> -->

			<% if user_can_edit_proposal(current_user,proposal) %>									
			<%= link_to 'Endre', edit_proposal_path(proposal) %>
			<%end%>

			<% if user_can_destroy_proposal(current_user,proposal) %>									
			<%= link_to 'Slett', proposal, :confirm => 'Er du sikker på at du skal slette dette bidraget ?', :method => :delete %>
			<% end %>

		</td>
	</tr>

	<tr>
		<td colspan="2">
			<hr/>
		</td>
	</tr>


	<% end %>
	<tr>
		<td colspan="2" align="center">
			<%= will_paginate @proposals %>
		</td>
	</tr>
</table>

<br />


