<h1>New proposal</h1>

<% form_for(@proposal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_requirement %><br />
    <%= f.text_field :customer_requirement %>
  </p>
  <p>
    <%= f.label :suggested_solution %><br />
    <%= f.text_field :suggested_solution %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', proposals_path %>
