<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Innovasjon</title>
	<%= stylesheet_link_tag 'style' %>
</head>
<body>

	<div id="container">
		<%= (logo = yield :logo) ? logo : render(:partial => 'shared/logo.html.erb') %>		
		<div id="sub_header"></div>


		<div id="main_content_top"></div>
		<div id="main_content">
			<div class="content">
				<p style="color: green"><%= flash[:notice] %></p>
				<p style="color: red"><%= flash[:alert] %></p>
				<%= yield  %>
			</div>
			<div class="menu">
				<%= (sidebar = yield :sidebar) ? sidebar : render(:partial => 'shared/menu.html.erb') %>				
			</div>

			<div id="clear"></div>

			<div id="main_content_bottom">
			</div>

			<div id="footer"><strong>Copyright &copy; 2009</strong> | <a href="http://www.innoco.no">Innoco AS</a> </div>

		</div>
	</div>

</body>
</html>
